# Build artifacts
bin/
obj/
**/bin/
**/obj/

# Visual Studio files
*.user
*.suo
.vs/

# Logs
*.log

# Node
node_modules/
frontend/dist/
frontend/.angular/

# Coverage
coverage/
**/TestResults/

# Others
.DS_Store
